* {
  margin: 0 auto;
  padding:0 ;
}


body{
background-color: hsla(0, 0%, 100%, 0.507);
}

.container { 
  background-color: rgba(255, 250, 240, 0.932);
  max-width: 1300px;
}

.cal-heading{
 
  margin-top: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  font-weight: bold;
  
}

.col {
  max-width: 50%;
  padding: 10px 20 px;

}

.ageForm form {
   background-color:#ececec;
   padding: 10px;
   display: inline-flex;
   align-items: flex-start;
   flex-direction: column;
   justify-content:start;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin: 50px auto;
  
   
}



.ageForm form input{
   padding: 5px 15px;
   margin-top: 10px;
  
}

.btn{
  background-color:rgb(211, 216, 210);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
